body {
  font-family: sans-serif;
}

input {
  border-radius: 4px;
  padding: 6px 16px;
  outline: none;
  border: none;
}

li {
  margin-right: 12px;
}

button {
  border: none;
  padding: 4px 16px;
  border-radius: 16px;
  margin-right: 6px;
}

button:hover {
  cursor: pointer;
  background-color: violet;
  color: white;
}

.input-area {
  background-color: aquamarine;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.incomplete-area {
  background-color: deepskyblue;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  background-color: greenyellow;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  color: #666;
}

.list-row {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
